@{
    ViewData["Title"] = "Submit-Request ";
}
<body>
    <div class="bg-light d-flex text-center flex-column" id="centerdiv">
        <div class="headingbtn mt-4 d-flex align-items-center mx-auto justify-content-around"
             style="width: 70%;">
            <span class="fs-2 fw-semibold" style="margin-left: 25%;">I am a...</span>
            <a asp-action="PatientSite" class="p-2 border text-decoration-none border-info rounded">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-chevron-left"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>
                <span class="mx-2 text-info">Back</span>
            </a>
        </div>

        <a asp-controller="PatientForms" asp-action="PatientRequestForm"
            class="btn mx-auto text-start mt-4 mb-3 fw-semibold fs-4 rounded-3"
           style="width: 320px; height: 70px"
           id="patientbtn">
            PATIENT
        </a>
        <a asp-controller="PatientForms" asp-action="Friend_FamilyRequestForm"
           class="btn mx-auto text-start rounded-3 my-3 fw-semibold fs-4"
           style="width: 320px; height: 70px"
           id="familytbtn">
            FAMILY/FRIEND
        </a>
        <a asp-controller="PatientForms" asp-action="ConciergeRequestForm"
           class="btn mx-auto text-start my-3 rounded-3 fw-semibold fs-4"
           style="width: 320px; height: 70px"
           id="conciergebtn">
            CONCIERGE
        </a>
        <a asp-controller="PatientForms" asp-action="BusinessRequestForm"
           class="btn mx-auto text-start my-3 rounded-3 fw-semibold fs-4"
           style="width: 320px; height: 70px"
           id="businessbtn">
            BUSINESS PARTNER
        </a>
    </div>

</body>
