


<div class="tab-pane fade show active bg-light bg-gradient" id="pills-Dashboard" style="min-height: 77vh;" role="tabpanel" aria-labelledby="pills-Dashboard-tab" tabindex="0">
    <div class="container-fluid px-4 text-center py-2">
        <div class="row gx-5 gy-5 mt-0 px-3">
            <div class="col rounded mx-2 text-light text-start" style="background-color: #203f9a;">
                <div class="p-3 fw-bold d-flex fs-5">New</div>
                <h4 class="fw-bold ps-3 pb-2"> 344</h4>
            </div>
            <div class="col rounded mx-2 text-primary text-start" style="background-color: #e5f2f8;">
                <div class="p-3 fw-bold d-flex fs-5">Panding</div>
                <h4 class="fw-bold ps-3 pb-2">344</h4>
            </div>
            <div class="col rounded mx-2 text-success text-start" style="background-color: #e9f0e8;">
                <div class="p-3 fw-bold d-flex fs-5">Active</div>
                <h4 class="fw-bold ps-3 pb-2">344</h4>
            </div>
            <div class="col rounded mx-2 text-danger text-start" style="background-color: #f7e6ee;">
                <div class="p-3 fw-bold d-flex fs-5">Conclude</div>
                <h4 class="fw-bold ps-3 pb-2">344</h4>
            </div>
            <div class="col rounded mx-2 text-start" style="background-color: #e5eef5;">
                <div class="p-3 fw-bold d-flex fs-5">To Close</div>
                <h4 class="fw-bold ps-3 pb-2">344</h4>
            </div>
            <div class="col rounded mx-2 text-start" style="background-color: #efeef4;">
                <div class="p-3 fw-bold d-flex fs-5">Unpaid</div>
                <h4 class="fw-bold ps-3 pb-2">344</h4>
            </div>

        </div>
    </div>
</div>
