@model DAL.ViewModels.AdminProfileVM
@{
    Layout = "~/Views/Shared/_LayoutAdminDash.cshtml";
}
<div class="container backbtn d-flex justify-content-between">
    <h4 class="text-body align-middle my-0  ">My Profile</h4>
    <a asp-controller="Home" asp-action="submitRequest"
       class="p-2 border text-decoration-none border-info rounded bg-transparent">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             fill="currentColor"
             class="bi bi-chevron-left"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
        </svg>
        <span class="mx-2 text-info">Back</span>
    </a>
</div>