@model DAL.ViewModels.AdminMainPageVM

@{
    Layout = "~/Views/Shared/_LayoutAdminDash.cshtml";
}



<div class="tab-content" >
    @switch (Model.PageName)
    {
        case DAL.ViewModels.PageName.Dashboard:
            <partial name="AdminDashboardPage" model="Model.DashboardVM" />
            break;

        case DAL.ViewModels.PageName.ViewCaseForm:
            <partial name = "ViewCaseAdmin" model = "Model.Casemodel" />
            break;
    }

</div>


<script>

</script>