@model DAL.ViewModels.AdminMainPageVM

@{
    Layout = "~/Views/Shared/_LayoutAdminDash.cshtml";
}


<body class="">
    <!-- Button trigger modal -->
  @*  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>*@

    <!-- Modal -->
    
    <div class="tab-content" id="MainPagePartialDiv">
        @switch (Model.PageName)
        {
            case DAL.ViewModels.PageName.Dashboard:
                <partial name="AdminDashboardPage" model="Model.DashboardVM" />
                break;

            case DAL.ViewModels.PageName.ViewCaseForm:
                <partial name="ViewCaseAdmin" model="Model.Casemodel" />
                break;
            case DAL.ViewModels.PageName.ViewNotes:
                <partial name="ViewNotesAdmin" model="Model.NotesVM "/>
                break;
            case DAL.ViewModels.PageName.viewdocument:
                <partial name="ViewDocuments" model="Model.DocumentVM"></partial>
                break;
            case DAL.ViewModels.PageName.SendOrder:
                <partial name="SendOrder" model="Model.SendOrderVM"></partial>
                break;
        }

    </div>
</body>

<script>

</script>