@{
    Layout = "~/Views/Shared/_LayoutAdminDash.cshtml";
}
@*<style>
    .leaflet-layer,
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out,
    .leaflet-control-attribution {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }
</style>*@
<div id="map" style="height: 70vh; z-index: 1; width: 160vh !important" class="container d-flex align-items-center justify-content-center my-4"></div>
<script>
    

    
        $(document).ready(function () {
         var map = L.map('map', {
            center: [21.0000, 78.0000], // india coordinates
            zoom: 5,
            zoomControl: true,
            trackResize: false,
        });
            $.ajax({
                type: "POST",
                url: '/AdminDashboard/getPhysicianMapDetail',
                success: function (data) {
                    var result = JSON.stringify(data);
                    for (var i = 0; i < result.length; ++i) {
                        var popup = '<b>Name:</b> ' + data[i].physicianName +
                            '<br/><b>Latitude:</b> ' + data[i].latitude +
                            '<br/><b>Longitude:</b> ' + data[i].longitude;

                        L.marker([data[i].latitude, data[i].longitude])
                            .bindPopup(popup)
                            .addTo(map);
                    }
                },
                error: function (xhr) {
                    alert("Error has occurred..");
                }
            });

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
        });

    //L.tileLayer('https://api.maptiler.com/tiles/satellite-v2/{z}/{x}/{y}.jpg?key=LhIRhyj08thbIQhxBBWf', {
    //    maxZoom: 19,
    //    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    //}).addTo(map);
    //var marker = L.marker([23.0463762, 72.525568]).addTo(map);
</script>