.dark-mode #dashboardpills {
    background-color: #526D82 !important;
}
.dark-mode #pills-tab {
    background-color: #526D82 !important;
}
.dark-mode nav {
    background-color: #162447 !important;
}
.dark-mode header {
    background-color: #162447 !important;
}
.dark-mode #patientnav {
    background-color: #162447 !important;
}