@{
    Layout = "~/Views/Shared/LayoutPatDash.cshtml";
}
@model DAL.ViewModels.PatientReqVM

<div class="container-fluid pb-4">
    <div class="mx-auto pt-3 mb-5" id="secondDiv">
        <div class="backbtn container-sm px-3 d-flex justify-content-between">
            <h4 class="text-body">Submit Information</h4>
            <a asp-controller="PatientDashBoard" asp-action="PatientDashboard"
               class="p-2 border text-decoration-none border-info rounded bg-transparent">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-chevron-left"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>
                <span class="mx-2 text-info">Back</span>
            </a>
        </div>

        <div id="FormOfPatientRequest" class="container-sm mt-3 p-3 gx-4 mb-3 bg-gradient">
            <form class="form-floating" method="post" enctype="multipart/form-data">
                <!-- Patient Information -->
                <div class="row gx-4">
                    <h4 class="fw-semibold text-body">Patient Information</h4>
                    <div class="form-floating my-3 control-group col-12">
                        <textarea class="form-control"
                                  placeholder="Leave a comment here"
                                  id="floatingTextarea2"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea2 control-label" class="ms-2 floating-label">Enter Brief Details of symptoms (Optional)</label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <input type="text"
                               asp-for="FirstName"
                               class="form-control"
                               id="floatingInput"
                               placeholder="First Name" />
                        <label for="floatingInput" class="ms-2">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger " style="font-size: 11px;"></span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <input type="text"
                               asp-for="LastName"
                               class="form-control"
                               id="floatingInput"
                               placeholder="Last Name" />
                        <label for="floatingInput" class="ms-2">Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger" style="font-size: 11px;"></span>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <input type="date"
                               asp-for="BirthDate"
                               max="@DateTime.Now.ToString("yyyy-MM-dd")"
                               min="@DateTime.Now.AddYears(-80).ToString("yyyy-MM-dd")"
                               class="form-control"
                               id="floatingInput"
                               placeholder="Date Of Birth" />
                        <label for="floatingInput" class="ms-2">Date Of Birth</label>
                        <span asp-validation-for="BirthDate" class="text-danger" style="font-size: 11px;">  </span>
                    </div>

                    <!-- Patient Contact Information -->

                    <h4 class="fw-semibold text-body mt-3">
                        Patient Contact Information
                    </h4>
                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <input type="text"
                               asp-for="Email"
                               class="form-control"
                               id="email1"
                               id="floatingInput"
                               placeholder="name@InputType.com"
                               onchange="CheckEmail()" />
                        <label for="floatingInput" class="ms-2">Email</label>
                        <span asp-validation-for="Email" class="text-danger" style="font-size: 11px;"></span>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <input type="tel"
                               asp-for="PhoneNumber"
                               class="form-control"
                               id="floatingInput"
                               placeholder="PhoneNumber" />
                        <label for="floatingInput" class="ms-2">Mobile Number</label>
                        <span asp-validation-for="PhoneNumber" class="text-danger" style="font-size: 11px;"></span>
                    </div>

                    <!-- Patient Location-->

                    <h4 class="fw-semibold text-body mt-3">
                        Patient Location
                    </h4>
                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <input type="text"
                               asp-for="Street"
                               class="form-control"
                               id="floatingInput"
                               placeholder="Street" />
                        <label for="floatingInput" class="ms-2">Street</label>
                        <span asp-validation-for="Street" class="text-danger" style="font-size: 11px;"></span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <input type="text"
                               asp-for="City"
                               class="form-control"
                               id="floatingInput"
                               placeholder="city" />
                        <label for="floatingInput" class="ms-2">City</label>
                        <span asp-validation-for="City" class="text-danger" style="font-size: 11px;"></span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <select class="form-control d-flex align-items-center py-2" asp-for="State" name="SelectedStateId">
                            <option>Select State</option>
                            @foreach (var state in Model.Region)
                            {
                                <option value="@state.RegionId">@state.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <input type="text"
                               asp-for="ZipCode"
                               class="form-control"
                               id="floatingInput"
                               placeholder="Last Name" />
                        <label for="floatingInput" class="ms-2">Zip Code</label>
                        <span asp-validation-for="ZipCode" class="text-danger" style="font-size: 11px;"></span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <input type="text"
                               class="form-control"
                               id="floatingInput"
                               placeholder="Last Name" />
                        <label for="floatingInput" class="ms-2">Room # / Suite (Optional)</label>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <button type="button" class=" btn btn-outline-info p-3 shadow-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                            </svg>
                            <span> Map</span>
                        </button>
                    </div>



                    <h4 class="fw-semibold text-body mt-3">
                        Relation
                    </h4>
                    <div class="col-sm-12 col-md-12 col-lg-6 form-floating my-3">
                        <input type="text"
                               class="form-control"
                               id="floatingInput"
                               placeholder="Last Name" />
                        <label for="floatingInput" class="ms-2">Relation</label>

                    </div>

                    <div class="d-flex justify-content-end my-3">
                        <button type="submit" class="btn border-none bg-info p-3 text-light fw-semibold me-4" id="submitBtn">
                            submit
                        </button>
                        <button type="button" class="btn border-none bg-danger border-danger text-light p-3 fw-semibold">
                            cancel
                        </button>
                    </div>
                </div>
            </form>
            <div asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" asp-append-version="true"></script>
<script src="~/js/RequestForms.js" asp-append-version="true"></script>

<!-- jQuery script -->


<script type="text/javascript">


    var input = document.getElementById("fileInput");
    var info = document.getElementById("infoarea");

    input.addEventListener('change', showFilename);

    function showFilename() {
        var fileinp = event.srcElement;
        var fileName = fileinp.files[0].name;
        info.textContent = fileName;
    }

    function uploadfile() {
        document.getElementById("inputGroupFile04").click();
    }


    function validateInput() {
        if (document.getElementById("inputGroupFile04").value == "") {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Please Upload File!",

            });
            return false;
        }
        return true;
    }


</script>
<partial name="_ValidationScriptsPartial"></partial>



