@model List<DAL.ViewModels.PatDashTableVM>

    @{
        var uniqueid = new HashSet<int?>();
    }
<div class="tab-pane fade show active bg-gradient" id="pills-home" style="min-height: 77vh;" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <div class="modal fade" role="dialog" tabindex="-1" id="modal"aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title">Create New Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Here, I want to Create New Request For...</p>

                    <div class="d-flex justify-content-center">
                        <a asp-controller="UserCreateRequestForms" asp-action="RequestForMe"><button type="button" class="btn btn-primary btn text-decoration-none border border-info bg-info text-white shadow-none ">Me</button></a>
                        <a asp-controller="UserCreateRequestForms" asp-action="RequestForSomeoneElse"><button type="button" class="btn btn-primary btn text-decoration-none border border-info bg-white text-info shadow-none mx-3">SomeoneElse</button></a>
                    </div>
                    <div class="d-flex justify-content-end my-2">
                        <button type="button" class="btn btn-primary btn text-decoration-none border border-info bg-info text-white shadow-none ">Continue</button>
                        <button type="button" class="btn btn-primary btn text-decoration-none border border-info bg-white text-info shadow-none mx-3">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-auto pb-3" style="width:93%; padding-top: 3%;">
        <h3>Medical History</h3>
        <div class="PatientInfoTable border rounded shadow bg-body-secondary">
            <div class="d-flex justify-content-end my-2">
                <button type="button" class="btn btn-outline-info shadow-none mx-3" data-bs-toggle="modal" data-bs-target="#modal">Create New Request</button>
            </div>
            <Table class="table table-hover table-responsive">
                <thead>
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 60%;">
                        <col span="1" style="width: 20%;">
                    </colgroup>

                    <tr class="table-secondary">

                        <th scope="col">
                            CreatedDate
                        </th>
                        <th scope="col">
                            CurrentStatus
                        </th>
                        <th scope="col">
                            Document
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (uniqueid.Add(item.requestid))
                        {
                            <tr>
                                <td class="col" class="text-center">
                                    @Html.DisplayFor(modelitem=>item.CreatedDate)
                                </td>
                                <td class="col" class="text-center">
                                    @Html.DisplayFor(modelitem=>item.currentStatus)
                                </td>
                                <td class="col" class="text-center">
                                    @if (item.Document != null)
                                    {
                                        @if (item.Document.Count() > 0)
                                        {

                                            <a asp-action="ViewDocumentsPatdash" asp-route-requestid="@item.requestid">

                                                <button class="btn btn-outline-info shadow-none mx-3">

                                                    <span> @item.count</span>
                                                    View Document
                                                </button>
                                            </a>

                                        }
                                    }

                                </td>


                            </tr>
                        }
                    }
                </tbody>
            </Table>

        </div>
    </div>

</div> 

