@model DAL.ViewModels.TimeSheetVM
@{
    int startDate = Model.startdate.Day;
    int month = Model.startdate.Month;
    int endDate = Model.enddate.Day;
    int year = Model.startdate.Year;
    var form = Model.forms;
}
    <table class="table">
        <thead class="text-body border-0">
            <tr>
                <th>Date</th>
                <th>On Call Hours</th>
                <th>Total Hours</th>
                <th>Weekend/Holiday</th>
                <th>Number Of HouseCalls</th>
                <th>Number Of Phone Calls</th>
            </tr>
        </thead>
        <tbody>

            @for(int i=startDate; i<=endDate; i++)
            {
                <tr>
                    @{
                        string date = new DateTime(year, month, i).Date.ToString("dd/MM/yyyy");
                    }
                    <td class="align-middle text-center">@date</td>
                    <td class="align-middle text-center">@*@form[i].onCallhours*@0</td>
                    <td class="align-middle text-center"><input type="number" class="form-control" value="0">@*@form[i].totalHours*@</td>
                    <td class="align-middle text-center"><input type="checkbox" class="form-check" checked /></td>
                    <td class="align-middle text-center"><input type="number" class="form-control" value="0">@*@form[i].HouseCallNo*@</td>
                    <td class="align-middle text-center"><input type="number" class="form-control" value="0">@*@form[i].PhoneCallNo*@</td>
                </tr>

            }
        </tbody>
    </table>
